#shls-page-palette > .mdc-layout-grid__inner {
    grid-template-rows: min-content min-content minmax(0, 400px);
}



#shls-page-palette .shls-palette-iro-colorwheel-wrapper,
#shls-page-palette .shls-palette-selection-wrapper,
#shls-page-palette .shls-palette-brslider-wrapper {
    position: relative;
}

#shls-page-palette .shls-palette-selection-wrapper,
#shls-page-palette .shls-palette-brslider-wrapper {
    padding: 10px 40px 0;
}

#shls-page-palette .shls-palette-selection-wrapper {
    display: none;
}

#shls-page-palette .shls-gridcell-caption {
    position: absolute;
    left: 50%;
    user-select: none;
    transform: translate(-50%, 13px);
}

#shls-page-palette .shls-palette-brslider-wrapper .shls-gridcell-caption {
    transform: translate(-50%, -13px);
}

#shls-page-palette .shls-palette-iro-colorwheel {
    margin: 50px auto 0;
}

#shls-page-palette .shls-palette-selection {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shls-page-palette .shls-palette-selection-text {
    margin: 0;
    color: var(--mdc-theme-secondary);
}





#shls-page-palette .shls-palette-functions-wrapper {
    margin: 0
            var(--shls-mdc-gutter-inv)
            var(--shls-mdc-gutter-inv);
}

#shls-page-palette .shls-palette-functions-wrapper > .mdc-layout-grid__inner {
    height: 100%;
    grid-template-rows: min-content minmax(0, 1fr);
}

#shls-page-palette .shls-palette-animations-wrapper {
    margin-top: var(--shls-mdc-gutter-inv);
    padding: var(--shls-mdc-gutter);
}

#shls-page-palette .shls-palette-presets-wrapper {
    margin-top: var(--shls-mdc-gutter-inv);
    overflow-y: scroll;
}

#shls-page-palette .shls-palette-animations-wrapper .swiper-container {
    height: 100%;
}

#shls-page-palette .swiper-container .mdc-card {
    width: 130px;
    height: 80%;
    padding: 20px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: scale(0.9);
    transition: all ease-out 100ms;
    user-select: none;
    cursor: pointer;
}

#shls-page-palette .swiper-container .mdc-card:hover {
    transform: initial;
}

#shls-page-palette .swiper-container .swiper-slide-active .mdc-card {
    background-color: var(--mdc-theme-primary);
    box-shadow: var(--prfy-shadow-3);
    transform: initial;
}

#shls-page-palette .swiper-container .mdc-card span {
    opacity: 0.5;
}

#shls-page-palette .swiper-container .swiper-slide-active .mdc-card span {
    color: white;
    opacity: 0.7;
}

#shls-page-palette .swiper-container .mdc-card .shls-palette-animation-icon {
    font-size: 64px;
}

#shls-page-palette .swiper-container .mdc-card .shls-palette-animation-desc {
    font-family: 'Roboto Slab', arial, sans-serif;
    font-size: 26px;
    text-align: center;
}



@media (min-width: 600px) and (min-height: 700px) {

    #shls-page-palette .shls-palette-iro-colorwheel-wrapper {
        grid-row-end: span 2;
    }

    #shls-page-palette .shls-palette-selection-wrapper {
        display: initial;
    }

    #shls-page-palette .shls-palette-brslider {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #shls-page-palette .shls-palette-selection-wrapper,
    #shls-page-palette .shls-palette-brslider-wrapper {
        padding-top: 0;
    }

    #shls-page-palette .shls-palette-brslider-wrapper .shls-gridcell-caption {
        transform: translate(-50%, 13px);
    }

}

@media (min-width: 600px) and (max-height: 700px) {

    #shls-page-palette > .mdc-layout-grid__inner {
        grid-auto-flow: column;
        grid-template-rows: minmax(0, 1fr) min-content;
    }

    #shls-page-palette .shls-palette-functions-wrapper {
        margin: var(--shls-mdc-gutter-inv);
        margin-left: 0;
        grid-row-start: span 2;
        grid-column-start: span 6;
    }

    #shls-page-palette .shls-palette-brslider-wrapper .shls-gridcell-caption {
        transform: translate(-50%, -13px);
    }

}
